<nz-modal [nzVisible]="open" [nzTitle]="isEditMode ? 'Cập nhật khách hàng' : 'Thêm khách hàng'" nzWidth="760"
  nzOkText="Lưu" nzCancelText="Hủy" [nzOkLoading]="isSubmitting" (nzOnCancel)="close()" (nzOnOk)="save()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <div class="grid-form">
        <nz-form-item>
          <nz-form-label [nzRequired]="true">Tên khách hàng</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập tên khách hàng">
            <input nz-input formControlName="name" placeholder="Nhập tên khách hàng" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Số điện thoại</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập số điện thoại">
            <input nz-input formControlName="phone" placeholder="Nhập số điện thoại" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="full-width">
          <nz-form-label [nzRequired]="true">Địa chỉ</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập địa chỉ khách hàng">
            <input nz-input formControlName="address" placeholder="Nhập địa chỉ khách hàng" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </ng-container>
</nz-modal>