<nz-modal [nzVisible]="open" [nzTitle]="isEditMode ? 'Sửa danh mục thuốc' : 'Thêm danh mục thuốc'"
  [nzOkText]="isEditMode ? 'Cập nhật' : 'Lưu'" nzCancelText="Hủy" [nzOkLoading]="isSubmitting" (nzOnCancel)="close()"
  (nzOnOk)="save()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical" class="popup-form">
      <nz-form-item>
        <nz-form-label [nzRequired]="true">Tên danh mục</nz-form-label>
        <nz-form-control [nzValidateStatus]="form.controls.name">
          <input nz-input formControlName="name" placeholder="VD: Kháng sinh" />
          <div class="field-error" *ngIf="showNameError">{{ nameErrorMessage }}</div>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label>Mô tả ngắn</nz-form-label>
        <nz-form-control>
          <textarea nz-input formControlName="description" rows="3" placeholder="Mô tả ngắn cho danh mục"></textarea>
        </nz-form-control>
      </nz-form-item>
    </form>
  </ng-container>
</nz-modal>
