<nz-modal
  [nzVisible]="open"
  [nzTitle]="isEditMode ? 'Cập nhật phiếu nhập' : 'Tạo phiếu nhập'"
  nzWidth="760"
  nzOkText="Lưu"
  nzCancelText="Hủy"
  [nzOkLoading]="isSubmitting"
  (nzOnCancel)="close()"
  (nzOnOk)="save()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <div class="grid-form">
        <nz-form-item class="full-width">
          <nz-form-label [nzRequired]="true">Tên thuốc</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.controls.medicineId">
            <nz-select formControlName="medicineId" nzShowSearch nzPlaceHolder="Chọn thuốc cần nhập"
              [class.invalid-control]="showMedicineError">
              <nz-option *ngFor="let medicine of medicineOptions" [nzLabel]="medicine.name" [nzValue]="medicine.id"></nz-option>
            </nz-select>
            <div class="field-error" *ngIf="showMedicineError">Vui lòng chọn thuốc cần nhập</div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="full-width">
          <nz-form-label [nzRequired]="true">Mã lô hàng</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.controls.batchCode">
            <input nz-input formControlName="batchCode" placeholder="Nhập mã lô hàng"
              [class.invalid-control]="showBatchCodeError" />
            <div class="field-error" *ngIf="showBatchCodeError">{{ batchCodeErrorMessage }}</div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="full-width">
          <nz-form-label>Nhà cung cấp</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.controls.supplier">
            <input nz-input formControlName="supplier" placeholder="Nhập nhà cung cấp"
              [class.invalid-control]="showSupplierError" />
            <div class="field-error" *ngIf="showSupplierError">{{ supplierErrorMessage }}</div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Số lượng nhập</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.controls.quantity">
            <nz-input-number formControlName="quantity" [nzMin]="1" [nzStep]="1" class="w-full"
              [class.invalid-control]="showQuantityError"></nz-input-number>
            <div class="field-error" *ngIf="showQuantityError">Số lượng phải lớn hơn hoặc bằng 1</div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Giá nhập</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.controls.importPrice">
            <nz-input-number formControlName="importPrice" [nzMin]="0" [nzStep]="1000" class="w-full"
              [class.invalid-control]="showImportPriceError"></nz-input-number>
            <div class="field-error" *ngIf="showImportPriceError">Giá nhập phải lớn hơn hoặc bằng 0</div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Giá bán áp dụng</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.controls.sellPrice">
            <nz-input-number formControlName="sellPrice" [nzMin]="0" [nzStep]="1000" class="w-full"
              [class.invalid-control]="showSellPriceError"></nz-input-number>
            <div class="field-error" *ngIf="showSellPriceError">Giá bán phải lớn hơn hoặc bằng 0</div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Hạn dùng</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn hạn dùng">
            <input nz-input type="date" formControlName="expiryDate" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Ngày nhập</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.controls.importedAt">
            <input nz-input type="date" formControlName="importedAt" [class.invalid-control]="showImportedAtError" />
            <div class="field-error" *ngIf="showImportedAtError">Vui lòng chọn ngày nhập</div>
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </ng-container>
</nz-modal>
