<nz-modal [nzVisible]="open" [nzTitle]="isEditMode ? 'Cập nhật phiếu nhập' : 'Tạo phiếu nhập'" nzWidth="760"
  nzOkText="Lưu" nzCancelText="Hủy" [nzOkLoading]="isSubmitting" (nzOnCancel)="close()" (nzOnOk)="save()">
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <div class="grid-form">
        <nz-form-item class="full-width">
          <nz-form-label [nzRequired]="true">Tên thuốc</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn thuốc cần nhập">
            <nz-select formControlName="medicineId" nzShowSearch nzPlaceHolder="Chọn thuốc cần nhập">
              <nz-option *ngFor="let medicine of medicineOptions" [nzLabel]="medicine.name" [nzValue]="medicine.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="full-width">
          <nz-form-label [nzRequired]="true">Mã lô hàng</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập mã lô hàng">
            <input nz-input formControlName="batchCode" placeholder="Nhập mã lô hàng" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="full-width">
          <nz-form-label>Nhà cung cấp</nz-form-label>
          <nz-form-control nzErrorTip="Nhà cung cấp tối đa 160 ký tự">
            <input nz-input formControlName="supplier" placeholder="Nhập nhà cung cấp" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Số lượng nhập</nz-form-label>
          <nz-form-control nzErrorTip="Số lượng phải lớn hơn hoặc bằng 1">
            <nz-input-number formControlName="quantity" [nzMin]="1" [nzStep]="1" class="w-full"></nz-input-number>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Giá nhập</nz-form-label>
          <nz-form-control nzErrorTip="Giá nhập phải lớn hơn hoặc bằng 0">
            <nz-input-number formControlName="importPrice" [nzMin]="0" [nzStep]="1000" class="w-full"></nz-input-number>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label>Giá bán áp dụng</nz-form-label>
          <nz-form-control nzErrorTip="Giá bán phải lớn hơn hoặc bằng 0">
            <nz-input-number formControlName="sellPrice" [nzMin]="0" [nzStep]="1000" class="w-full"></nz-input-number>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Hạn dùng</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn hạn dùng">
            <input nz-input type="date" formControlName="expiryDate" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Ngày nhập</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn ngày nhập">
            <input nz-input type="date" formControlName="importedAt" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </ng-container>
</nz-modal>