<nz-tree-select
  #medicineTreeSelect
  [ngModel]="selectedImportKey"
  (ngModelChange)="onTreeModelChange($event)"
  [nzNodes]="medicineImportTreeNodes"
  [nzExpandedKeys]="expandedMedicineKeys"
  [nzOpen]="medicineTreeOpen"
  (nzOpenChange)="onMedicineTreeOpenChange($event)"
  [nzTreeTemplate]="medicineTreeTemplate"
  [nzDisplayWith]="displayMedicineNode"
  [nzDropdownStyle]="medicineDropdownStyle"
  [nzHideUnMatched]="false"
  [nzDisabled]="isDisabled"
  nzShowSearch
  nzAllowClear
  [nzPlaceHolder]="placeholder"
  class="w-full"
  (input)="onMedicineTreeInput($event)"
  (nzCleared)="onMedicineTreeCleared()"
  (nzExpandChange)="onMedicineNodeExpand($event)"
  (nzTreeClick)="onMedicineNodeClick($event)">
</nz-tree-select>

<div class="subtle" *ngIf="showEmptyHint">Chưa có thuốc nào để hiển thị.</div>

<ng-template #medicineTreeTemplate let-node let-origin="origin">
  <span class="tree-node-label">
    <img
      *ngIf="isMedicineNode(origin) && origin['imageUrl']"
      [src]="toStringValue(origin['imageUrl'])"
      alt="Medicine image"
      class="tree-node-thumb"
    />
    <span *ngIf="isMedicineNode(origin) && !origin['imageUrl']" class="tree-node-thumb tree-node-thumb--placeholder">N/A</span>
    <span>{{ origin['displayTitle'] || node.title }}</span>
  </span>
</ng-template>
