<nz-modal
  [nzVisible]="open"
  [nzTitle]="isEditMode ? 'Cập nhật thuốc' : 'Thêm thuốc mới'"
  nzWidth="760"
  nzOkText="Lưu"
  nzCancelText="Hủy"
  [nzOkLoading]="isSubmitting"
  (nzOnCancel)="close()"
  (nzOnOk)="save()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <div class="grid-form">
        <nz-form-item class="full-width">
          <nz-form-label [nzRequired]="true">Tên thuốc</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập tên thuốc">
            <input nz-input formControlName="name" placeholder="Nhập tên thuốc" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Danh mục</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng chọn danh mục">
            <nz-select formControlName="category" nzPlaceHolder="Chọn danh mục">
              <nz-option *ngFor="let item of categoryOptions" [nzLabel]="item.name" [nzValue]="item"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Đơn vị</nz-form-label>
          <nz-form-control nzErrorTip="Vui lòng nhập đơn vị">
            <input nz-input formControlName="unit" placeholder="Nhập đơn vị" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>
  </ng-container>
</nz-modal>
