<nz-modal
  [nzVisible]="open"
  [nzTitle]="isEditMode ? 'Cập nhật thuốc' : 'Thêm thuốc mới'"
  nzWidth="760"
  nzOkText="Lưu"
  nzCancelText="Hủy"
  [nzOkLoading]="isSubmitting"
  (nzOnCancel)="close()"
  (nzOnOk)="save()"
>
  <ng-container *nzModalContent>
    <form nz-form [formGroup]="form" nzLayout="vertical">
      <div class="grid-form">
        <nz-form-item class="full-width">
          <nz-form-label [nzRequired]="true">Tên thuốc</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.controls.name" [nzErrorTip]="nameValidError">
            <input nz-input formControlName="name" placeholder="Nhập tên thuốc" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Danh mục</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.controls.category" [nzErrorTip]="categoryValidError">
            <nz-select formControlName="category" nzPlaceHolder="Chọn danh mục">
              <nz-option *ngFor="let item of categoryOptions" [nzLabel]="item.name" [nzValue]="item"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzRequired]="true">Đơn vị</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.controls.unit" [nzErrorTip]="unitValidError">
            <input nz-input formControlName="unit" placeholder="Nhập đơn vị" />
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="full-width">
          <nz-form-label>Mã vạch thuốc</nz-form-label>
          <nz-form-control [nzValidateStatus]="form.controls.barcode" [nzErrorTip]="barcodeValidError">
            <div class="barcode-row">
              <input nz-input formControlName="barcode" placeholder="Nhập hoặc quét mã vạch thuốc (nếu có)" />
              <button nz-button nzType="default" type="button" (click)="openCameraScanner()">Quét camera</button>
            </div>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item class="full-width">
          <nz-form-label>Ảnh thuốc</nz-form-label>
          <nz-form-control>
            <div class="image-upload-row">
              <div class="image-action-row">
                <input type="file" accept="image/*" (change)="onImageFileSelected($event)" />
                <button nz-button nzType="default" type="button" (click)="openImageCamera()">Chụp ảnh camera</button>
              </div>
              <span class="subtle">Hỗ trợ JPG, PNG, WEBP, GIF (tối đa 5MB)</span>
            </div>
            <img *ngIf="imagePreviewUrl" [src]="imagePreviewUrl" alt="Ảnh thuốc" class="medicine-preview-image" />
          </nz-form-control>
        </nz-form-item>
      </div>
    </form>

    <ng-template #nameValidError let-control>
      <ng-container *ngIf="control.errors?.['required']">
        <div>Vui lòng nhập tên thuốc</div>
      </ng-container>
      <ng-container *ngIf="control.errors?.['maxlength']">
        <div>Tên thuốc tối đa 120 ký tự</div>
      </ng-container>
    </ng-template>

    <ng-template #categoryValidError let-control>
      <ng-container *ngIf="control.errors?.['required']">
        <div>Vui lòng chọn danh mục</div>
      </ng-container>
    </ng-template>

    <ng-template #unitValidError let-control>
      <ng-container *ngIf="control.errors?.['required']">
        <div>Vui lòng nhập đơn vị</div>
      </ng-container>
      <ng-container *ngIf="control.errors?.['maxlength']">
        <div>Đơn vị tối đa 100 ký tự</div>
      </ng-container>
    </ng-template>

    <ng-template #barcodeValidError let-control>
      <ng-container *ngIf="control.errors?.['maxlength']">
        <div>Mã vạch tối đa 100 ký tự</div>
      </ng-container>
    </ng-template>
  </ng-container>
</nz-modal>

<nz-modal [nzVisible]="isCameraScannerOpen" nzTitle="Quét mã vạch thuốc" [nzFooter]="null" (nzOnCancel)="closeCameraScanner()">
  <ng-container *nzModalContent>
    <div class="camera-scan-wrap">
      <video #barcodeVideo class="camera-video" muted autoplay></video>
      <div class="subtle" *ngIf="cameraScannerStarting">Đang khởi động camera...</div>
      <div class="negative" *ngIf="cameraScannerError">{{ cameraScannerError }}</div>
    </div>
  </ng-container>
</nz-modal>

<nz-modal
  [nzVisible]="isImageCameraOpen"
  nzTitle="Chụp ảnh thuốc"
  [nzFooter]="null"
  (nzOnCancel)="closeImageCamera()"
>
  <ng-container *nzModalContent>
    <div class="camera-scan-wrap">
      <video #imageCameraVideo class="camera-video" muted autoplay></video>
      <div class="subtle" *ngIf="imageCameraStarting">Đang khởi động camera...</div>
      <div class="negative" *ngIf="imageCameraError">{{ imageCameraError }}</div>
      <div class="camera-action-row">
        <button nz-button nzType="default" type="button" (click)="closeImageCamera()">Hủy</button>
        <button nz-button nzType="primary" type="button" (click)="captureImageFromCamera()">Chụp ảnh</button>
      </div>
    </div>
  </ng-container>
</nz-modal>
