/* You can add global styles to this file, and also import other style files */
@import "ng-zorro-antd/ng-zorro-antd.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --app-sider-width: 260px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background: #fcfdfe;
  color: #1e293b;
}
